<!DOCTYPE html>
<html lang="en">
   <body class="container-fluid add-recipe-container">
      {% extends 'layout/base.html' %}
      {% block content %}
      <div>
         <h3 class="add-recipe-title">ADD RECIPE:</h3>
      </div>
      <!--code adapted from Materialize-->
      <form action="{{ url_for('add_recipe') }}" method="POST" class="transparent col s12">
         <div class="row wrapper-row">
            <div class="col s12 m6">
               <div class="row">
                  <div class="col s6 m2"></div>
                  <div class="input-field col s12 col m5" required>
                     <select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                        <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endfor %} 
                     </select>
                     <label>Please</label>
                  </div>
               </div>
               <div class="row">
                  <div class="input-field">
                     <i class="material-icons prefix">face</i>
                     <input id="added_by" name="added_by" type="text" class="validate" required>
                     <label>Your Name:</label>
                  </div>
               </div>
               <div class="row">
                  <div class="input-field ">
                     <i class="material-icons prefix">add_box</i>
                     <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                     <label>Name of Recipe</label>
                  </div>
               </div>
               <div class="row">
                  <div class="input-field col s2">
                     <i class="material-icons prefix">group</i>
                     <input id="serves" name="serves" type="number"  min="1" max="10" class="validate" required>
                     <label for="icon_prefix">Serves</label>
                  </div>
                  <div class="input-field col s12 m4 l3">
                     <i class="material-icons prefix">timer</i>
                     <input id="prep_time" name="prep_time" type="number" class="validate" required>
                     <label for="icon_prefix">Prep Time</label>
                  </div>
                  <div class="input-field col s3">
                     <i class="material-icons prefix">hot_tub</i>
                     <input id="cooking_time" name="cooking_time" type="number" class="validate" required>
                     <label for="icon_prefix">Cooking Time</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <textarea id="ingredients" name="ingredients" class="materialize-textarea" required></textarea>
               <label for="textarea1">Ingredients</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <textarea id="instructions" name="instructions" class="materialize-textarea" required></textarea>
               <label for="textarea1">Instructions</label>
            </div>
         </div>
         <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit Recipe
            <i class="material-icons right">done_all</i>
            </button>
         </div>
      </form>
   </body>
   {% endblock %}
</html>