<!DOCTYPE html>
{% extends 'layout/base.html' %}
<!--inject the followig into parent template-->
{% block content %}
<body class="index-container">
   <div class="row click-here-index-text">
      click here to...
   </div>
   <div class="row text-wrapper">
      <a href="{{ url_for('recipe_list')}}" class="index-text">See our Recipes</a>
   </div>
   <div class="row text-wrapper">
      <a href="{{ url_for('add_recipe')}}" class="index-text">Add Your Recipe</a>
   </div>
</body>
{% endblock %}
