<!DOCTYPE html>
{% extends 'layout/base.html' %} {% block content %}
<body class="container-fluid recipe-list-container">
   {% for recipe in recipes %}
   <div class="row text-wrapper">
      <p>Recipe Name:{{recipe.recipe_name}}</p>
      <p>Added by:{{recipe.added_by}}</p>
      <p>Category:{{recipe.category_name}}</p>
      <a
         href="{{ url_for('show_recipe', recipe_id=recipe._id)}}"
         class="waves-effect waves-light list-button btn"
         ><i class="material-icons left">cloud</i>Show This Recipe</a
         >
   </div>
</body>
{% endfor %} {% endblock %}