html, body {
  height: 100%;
  margin: 0;
}


.body-container {
    height: 90vh;
	background: url("/static/images/bell-pepper-2179100_1920.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.add-recipe-container, .edit-recipe-container {
    height: 90vh;
	background: url("/static/images/wood-2142241_1280.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.index-text {
    color: white;
    font-size: 10vh;
    font-family: cursive;
}

.recipe-list-container, .show-recipe-container {
     height: 90vh;
	background: url("/static/images/wood-2142308_1280.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



nav {
    background-color: #cccccc;
    font-family: fantasy;

}

.dropdown-button {
    height: 100%;
    
}

.text-wrapper {
    text-align: center;
}

.text-wrapper > p a  a > i {
    display: inline-block;
}


footer {
     position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
height: 5vh;
background-color: #E9E0DB;

}



