html, body {
  height: 100%;
  margin: 0;
}


.body-container {
    height: 95vh;
	background: url("/static/images/bell-pepper-2179100_1920.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.add_recipe_container {
    height: 95vh;
	background: url("/static/images/wood-2142241_1280.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.add_recipe_button {
   
    color: white;
}

.recipe_list_container {
     height: 95vh;
	background: url("/static/images/wood-2142308_1280.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
    background-color: #cccccc;
}

.dropdown-button {
    height: 100%;
    
}

.list_wrapper {
    text-align: center;
}

.list_wrapper > p a {
    display: inline-block;
}


footer {
     position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
height: 5vh;
background-color: #E9E0DB;

}



