<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<body class="container-fluid add-recipe-container">
<div>
<h3 class="add-recipe-title">ADD RECIPE:</h3>
</div>

<!--code adapted from Materialize-->
 <form action="{{ url_for('add_recipe') }}" method="POST" class="transparent col s12">
 <div class="row wrapper-row">
 <div class="col s6">
 <div class="row">
 <div class="col s2"></div>
  <div class="input-field col s5" required>
    <select id="category" name="category_name">
      <option value="" disabled selected>Choose Category</option>
      {% for cat in categories %}
      <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
      {% endfor %} 
    </select>
    <label>Please</label>
  </div>
  </div>
   <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">face</i>
          <input id="added_by" name="added_by" type="text" class="validate" required>
          <label>Your Name:</label>
        </div>
    </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">add_box</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
          <label>Name of Recipe</label>
        </div>
    </div>
     <div class="row">
     <div class="input-field col s2">
          <i class="material-icons prefix">group</i>
          <input id="serves" name="serves" type="number"  min="1" max="10" class="validate" required>
          <label for="icon_prefix">Serves</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix">timer</i>
          <input id="prep_time" name="prep_time" type="number" class="validate" required>
          <label for="icon_prefix">Prep Time</label>
        </div>
    
     
        <div class="input-field col s3">
          <i class="material-icons prefix">hot_tub</i>
          <input id="cooking_time" name="cooking_time" type="number" class="validate" required>
          <label for="icon_prefix">Cooking Time</label>
        </div>
     </div>
   
    </div>
  
 
    </div>
    

  <div class="row">
        <div class="input-field col s12">
          <textarea id="ingredients" name="ingredients" class="materialize-textarea" required></textarea>
          <label for="textarea1">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="instructions" name="instructions" class="materialize-textarea" required></textarea>
          <label for="textarea1">Instructions</label>
        </div>
      </div>
  
 
    
<a class="waves-effect waves-light btn">Add Nutritional Value</a>
   
     
 <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit Recipe
    <i class="material-icons right">done_all</i>
  </button>
     </div>
 
    </form>


 </body>
<!-- Icons:

library_book
add_a_phote
face
av_timer
hourglass_empty
hourglass_full
-->

<!--Possible api code:
<form action="http://example.com/" method="POST">
  <input type="hidden" name="q" value="a">
</form>

<script>
var path = "https://api.edamam.com/api/nutrition-details";
</script>

// Sending and receiving data in JSON format using POST method
//
var xhr = new XMLHttpRequest();
var url = "https://api.edamam.com/api/nutrition-details?app_id=${YOUR_APP_ID}&app_key=${YOUR_APP_KEY}";
xhr.open("POST", url, true);
xhr.setRequestHeader("Content-Type", "application/json");
xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status === 200) {
        var json = JSON.parse(xhr.responseText);
        
    }
};
var data = JSON.stringify({INEEDTOPUTTHEFORMSUBMITHERE});
xhr.send(data);
-->

<!--Images as links
<a href="default.asp">
  <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;">
</a>
-->

<!--Yeah they add the path... so something like this:


<input type="text" id="photo" name="photo">
<label for="photo">Include Image URL</label>


Then on the box, the user puts in the cat image url I sent for example.
And then that literally saves on your database as the "string".

So then when viewing the output from the database:
-->



{% endblock %}
