 {% extends 'base.html' %}
 {% block content %}







<div class="add_header">
<h3>EDIT RECIPE:</h3>
</div>
<!--code adapted from Materialize-->
 
 <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
<div class="row">
  <div class="input-field col s12">
    <select id="category" name="category_name">
      <option value="" disabled selected>Choose Category</option>
      {% for cat in categories %}
      {% if cat.category_name == recipe.category_name %}
      <option value="{{ cat.category_name }}" selected> {{ cat.category_name }}</option>
      {% else %}
      <option value="{{ cat.category_name }}"> {{ cat.category_name }}</option>
      {% endif %}
      {% endfor %} 
    </select>
    <label>Please</label>
  </div>
  </div>
   <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">face</i>
          <input id="added_by" name="added_by" type="text" class="validate" value="{{recipe.added_by}}">
          <label>Created by:</label>
        </div>
    </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">add_box</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
          <label>Name of Recipe</label>
        </div>
    </div>
     <div class="row">
     <div class="input-field col s2">
          <i class="material-icons prefix">group</i>
          <input id="icon_prefix" name="serves" type="number" class="validate" value="{{recipe.serves}}">
          <label for="icon_prefix">Serves</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix">timer</i>
          <input id="icon_prefix" name="prep_time" type="number" class="validate" value="{{recipe.prep_time}}">
          <label for="icon_prefix">Prep Time</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix">hot_tub</i>
          <input id="cooking_time" name="cooking_time" type="number" class="validate" value="{{recipe.cooking_time}}">
          <label for="icon_prefix">Cooking Time</label>
        </div>
    
    </div>

    <div class="row">
    <div class="input-field col s8">
          <i class="material-icons prefix">list</i>
          <input id="ingredients" name="ingredients" type="text" class="validate" value="{{recipe.ingredients}}">
          <label for="icon_prefix">ingredients</label>
        </div>
    
    </div>

      <div class="row">
    <div class="input-field col s8">
          <i class="material-icons prefix">assignment</i>
          <input id="instructions" name="instructions" type="text" class="validate" value="{{recipe.instructions}}">
          <label for="icon_prefix">Instructions</label>
        </div>
    
    </div>
    <div class="row">
    
<a class="waves-effect waves-light btn">Add Nutritional Value</a>
    </div>
     
 <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit Recipe
    <i class="material-icons right">done_all</i>
  </button>
     </div>
 
    </form>


<!-- Icons:

library_book
add_a_phote
face
av_timer
hourglass_empty
hourglass_full
-->

{% endblock %}



 