
<!--parent template-->
{% extends 'base.html' %}
<!--inject the followig into parent template-->


{% block content %}

 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       
      </ul>
       <!-- Dropdown Trigger -->
      <a class='dropdown-button btn right' href='#' data-activates='dropdown1'>Drop Me!</a>
    </div>
     
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
  </nav>
  <div class="row">
  <a href="{{ url_for('add_recipe')}}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Add Recipe</a>
  <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Edit Recipe</a>
  <a href="{{ url_for('add_recipe')}}" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Look up Recipe</a>
  
</div>


<h1>Hello {{user}}</h1>

{% endblock %}

