<html>
<head>
<!--parent template-->
{% extends 'base.html' %}
<!--inject the followig into parent template-->
{% block content %}
   
<!--Navbar added from materialize library-->
  <nav class="transparent">
    <div class="nav-wrapper">
      <a  href="#" class="brand-logo center">Logo</a>
        <!-- Dropdown Trigger -->
      <a class='dropdown-button btn right hide-on-med-and-down transparent' href='#' data-activates='dropdown1'>I want to....</a>
        <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Find a Recipe</a></li>
    <li><a href="#!">Add a Recipe</a></li>
    <li class="divider"></li>
    
    <li><a href="#!"><i class="material-icons">view_module</i>Edit/Delete Recipe</a></li>
    
  </ul>
    
    </div>


  <!-- Dropdown Trigger -->
  



  </nav>


{% endblock %}

