{% extends 'base.html' %} {% block content %}
<div>
  <h1>Search Recipes</h1>
</div>
<div class="row">
  <!-- <div class="input-field col s12">
    <select id="category" name="category_name">
      <option value="" disabled selected>Choose Category</option>
      {% for cat in categories %}
      <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
      {% endfor %} 
    </select>
    <label>Please</label>
  </div>
  </div> -->

  <div class="row">
   
    <div class="input-field col s12">
      <select id="recipe" name="recipe_name">
        <option value="" disabled selected>Choose Recipe</option>
      {% for recipe in recipes %}
        <option value="{{ recipe.recipe_name }}">{{ recipe.recipe_name }}</option>
        {% endfor %}
      </select>
      <label>Please</label>
      <a href="{{ url_for('display_recipe', recipe_id=recipe._id) }}"
        class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    </div>
  </div>

  {% endblock %}
</div>
