
   <div class="nav-wrapper">
      <a href="{{url_for('show_index')}}" class="center brand-logo">The Recipe Cook Book Group</a>
      <!-- Dropdown Trigger -->
      <a href="#" class="transparent dropdown-button btn right main-menu"  data-activates="nav-options-dropdown">I Want to.....</a>
       <a href="#" data-activates="mobile-nav" class="button-collapse mobile-menu"><i class="material-icons">menu</i></a>
   </div>
   <!-- Dropdown Structure -->
   <ul id="nav-options-dropdown" class="transparent dropdown-content">
      <li><a href="{{url_for('show_index')}}" class="black-text">Go Home</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('recipes')}}" class="black-text">See our Recipes</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('add_recipe')}}" class="black-text">Add Recipe</a></li>
      <li class="divider"></li>
      
   </ul>
      <ul class="side-nav" id="mobile-nav">
       <li><a href="{{url_for('show_index')}}" class="black-text">Go Home</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('recipes')}}" class="black-text">See our Recipes</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('add_recipe')}}" class="black-text">Add Recipe</a></li>
      <li class="divider"></li>
      
      </ul>


  